.Header {
    /*height: auto;
    max-width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    background: white; 
    padding: 50px 0; 
    box-sizing: border-box;*/
}

.img {
    
}